/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3f2fd;
}

.container{
  position: relative;
  background-image: url(assets/bg.png);
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header,
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo .icon{
  width: 48px;
}

.logo .card-name{
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}
.header .chip{
  width: 60px;
}

.container .card-details{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-details,
.valid{
  color: #fff;
}
.card-details .name-number .card-number,
.card-details .valid .word{
  font-size: 12px;
  font-weight: 400;
}

.card-details .name-number .card-digit{
  font-size: 18px;
  margin-top: 4px;
}

.card-details .name-number .name{
  margin-top: 20px;
}